<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="zooStoreDB" connectionString="Data Source=VsevolodPC;Initial Catalog=Trade;Integrated Security=True;TrustServerCertificate=true"/>
		<add name="testDB" connectionString="Data Source=VsevolodPC;Initial Catalog=testDB;Integrated Security=True;TrustServerCertificate=True" />
	</connectionStrings>
</configuration>